@charset "UTF-8";

:root {
  --jk-blue: #0d6efd;
  --jk-indigo: #6610f2;
  --jk-purple: #6f42c1;
  --jk-pink: #d63384;
  --jk-red: #dc3545;
  --jk-orange: #fd7e14;
  --jk-yellow: #ffc107;
  --jk-green: #198754;
  --jk-teal: #20c997;
  --jk-cyan: #0dcaf0;
  --jk-black: #000;
  --jk-white: #fff;
  --jk-gray: #6c757d;
  --jk-gray-dark: #343a40;
  --jk-gray-100: #f8f9fa;
  --jk-gray-200: #e9ecef;
  --jk-gray-300: #dee2e6;
  --jk-gray-400: #ced4da;
  --jk-gray-500: #adb5bd;
  --jk-gray-600: #6c757d;
  --jk-gray-700: #495057;
  --jk-gray-800: #343a40;
  --jk-gray-900: #212529;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}